:root {
    --black: #222222;
    --pink-bkg: #F1E4E6;
    --pink-text: #F16D7F;
    --gray-text: #9F9F9F;
}

body {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;

}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: var(--black);
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__search {}

.header__button {
    background-color: transparent;
    border: 0;
}

.header__link {
    margin: 0 0 0 33px;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.header__menu {
    display: none;
}

/* .header__menu-title {}

.header__menu-list {}

.header__menu-item {}

.menu-sub-item {}

.menu-sub-item__title {}

.menu-sub-item__list {}

.menu-sub-item__item-link {} */

.brand {
    display: flex;
    margin: 0 0 63px;
}

.brand__img {}

.brand__title-wrp {
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;
    background-color: var(--pink-bkg);
    flex-grow: 1;
}

.brand__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: var(--black);
    text-transform: uppercase;
}

.brand__sub-title {
    display: block;
    font-size: 32px;
    line-height: 38px;
}

.brand__sub-title-pink {
    color: var(--pink-text);
}

.sales__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sales__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sales__item--women {
    background-image: url(../img/sales_women.jpg);

}

.sales__item-text {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.sales__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--pink-text);
    text-transform: uppercase;
}

.sales__item--men {
    background-image: url(../img/sales_men.jpg);

}

.sales__item--kids {
    background-image: url(../img/sales_kids.jpg);
}

.sales__item--accesories {
    background-image: url(../img/sales_accesories.jpg);
    width: 100%;
    min-height: 180px;
    margin: 30px 0 96px 0;
}


.products__title {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
}

.products__text {
    text-align: center;
    color: var(--gray-text);
    margin: 6px 0 18px 0;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__item {
    width: 360px;
    min-height: 581px;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;

}

.products__item-img {
    margin: 0 0 24px 0;
}

.products__item-wrp {
    padding: 0 18px;
}

.products__item-title {
    font-size: 13px;
    line-height: 16px;
    margin: 0 0 12px 0;
    text-transform: uppercase;
}

.products__item-desc {
    font-weight: 300;
    margin: 0 0 18px 0;
    color: #5D5D5D;
}

.products__item-link {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: var(--pink-text);
}

.products__button {
    width: 210px;
    min-height: 47px;
    border: 1px solid #FF6A6A;
    background-color: #fff;
    justify-content: center;



}