:root {
    --black: #222222;
    --pink-bkg: #F1E4E6;
    --pink-text: #F16D7F;
    --gray-text: #9F9F9F;
}

body {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
}

label,
input {
    display: block;
    display: flex;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: var(--black);
}

.header__logo {
    margin: 0 71px 0 0;
}

.header__button {
    background-color: transparent;
    border: 0;
}

.header__link {
    margin: 0 0 0 33px;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.header__wrp-logo-form {
    display: flex;
}

.header__search {
    position: relative;
}

.header__search:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 1px;
    left: -42px;
    background-image: url(../img/loupe.svg);
    background-size: 30px 35px;
}

.header__search-input {
    padding: 10px 20px;
    border: none;
    outline: 1px solid black;
}

.header__search-input:hover {
    outline: 1px solid red;
}

.header__link-basket-count {
    position: absolute;
    width: 19px;
    height: 19px;
    background-color: var(--pink-text);
    content: '5';
    color: white;
    border-radius: 50%;
    top: -14px;
    right: -10px;
    text-align: center;
}

.header__link--basket {
    position: relative;
}

.header__nav-group {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.header__menu {
    position: absolute;
    width: 232px;
    min-height: 95vh;
    top: 100%;
    right: 30px;
    background: white;
    z-index: 1;
    display: none;
    padding: 37px 0 0 34px;
}

.header__button:hover+.header__menu,
.header__button:focus+.header__menu {
    display: block;
}

.header__menu:hover {
    display: block;
}

.header__menu-list:hover {
    display: block;
}

.header__button-burger-background {
    fill: black;
}

.header__button-burger-img {
    fill: #E8E8E8;
}

.header__button {
    padding: 0 2px;
}

/* .header__button:hover,
.header__button:focus {
    background: var(--pink-text);
} */

.header__button:hover .header__button-burger-img,
.header__button:focus.header__button-burger-img {
    fill: var(--pink-text);
}

.header__link-background {
    padding: 2px 2px;
}

.header__link-img {
    fill: #E8E8E8;
}

/* .header__link:focus .header__link-background,
.header__link:hover .header__link-background {} */

.header__link:focus .header__link-img,
.header__link:hover .header__link-img {

    fill: var(--pink-text);
}

.header__menu-item {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-sub-item__title {
    margin: 24px 0 0 0;
    text-transform: uppercase;
    color: var(--pink-text);
}

.menu-sub-item__list {
    padding: 0 0 0 20px;
}

.menu-sub-item__item-link {
    color: darkblue;
    text-decoration: none;
}

.menu-sub-item__item-link:hover {
    color: red;
    cursor: pointer;
}

.header__menu-title {
    font-weight: 700;
    text-transform: uppercase;
}

.menu-sub-item__item {
    margin: 12px 0 0 0;
}

.menu-sub-item__item-link {
    color: #6F6E6E;

}

/* .header__menu-list {}

.header__menu-item {}

.menu-sub-item {}

.menu-sub-item__title {}

.menu-sub-item__list {}

.menu-sub-item__item-link {} */

.brand {
    display: flex;
    margin: 0 0 63px;
}

.brand__img {
    width: 60%;
}

.brand__title-wrp {
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;
    background-color: var(--pink-bkg);
    flex-grow: 1;
    position: relative;
}

.brand__title-wrp::before {
    content: '';
    width: 12px;
    height: 92px;
    background: var(--pink-text);
    position: absolute;
    margin: 0 0 0 -16px;
}

.brand__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: var(--black);
    text-transform: uppercase;
}

.brand__sub-title {
    display: block;
    font-size: 32px;
    line-height: 38px;
}

.brand__sub-title-pink {
    color: var(--pink-text);
}

.sales__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sales__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sales__item--women {
    background-image: url(../img/sales_women.jpg);

}

.sales__item-text {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.sales__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--pink-text);
    text-transform: uppercase;
}

.sales__item--men {
    background-image: url(../img/sales_men.jpg);

}

.sales__item--kids {
    background-image: url(../img/sales_kids.jpg);
}

.sales__item--accesories {
    background-image: url(../img/sales_accesories.jpg);
    width: 100%;
    min-height: 180px;
    margin: 30px 0 96px 0;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__title {
    font-size: 30px;
    line-height: 36px;
}

.products__text {
    color: var(--gray-text);
    margin: 6px 0 18px 0;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__item {
    width: 360px;
    min-height: 581px;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;
}

.products__cart-overlay:before {
    content: '';
    width: 100%;
    min-height: 95%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    display: none;
}

.products__cart-overlay {
    position: relative;
}

.products__button-img-cart {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: 2px solid #FFFFFF;
    width: 138px;
    min-height: 43px;
    justify-content: space-around;
    align-items: center;
    color: white;
}


.products__item:hover .products__button-img-cart,
.products__item:hover .products__cart-overlay:before {
    display: flex;
}

.products__item-img {
    margin: 0 0 24px 0;
}

.products__item-wrp {
    padding: 0 18px;
}

.products__item-title {
    font-size: 13px;
    line-height: 16px;
    margin: 0 0 12px 0;
    text-transform: uppercase;
}

.products__item-desc {
    font-weight: 300;
    margin: 0 0 18px 0;
    color: #5D5D5D;
}

.products__item-link {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: var(--pink-text);
}

.products__button {
    width: 210px;
    min-height: 47px;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #FF6A6A;
    background-color: #fff;
    align-items: center;
    color: #F26376;
    margin: 48px 0 96px 0;
}

.products__button:hover,
.products__button:focus {
    background-color: var(--pink-text);
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
}

.advantages {
    background-color: var(--black);
}

.advantages__list {
    min-height: 341px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
}

.advantages__img {
    max-height: 40px;
    margin: 0 0 26px 0;
}

.advantages__item-title {
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    margin: 0 0 16px 0;
}

.advantages__item-text {
    font-weight: 300;
    text-align: center;
    color: #FBFBFB;
}

.footer-subscribe {
    display: flex;
    min-height: 448px;
    background-image: url(../img/subscribe.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.footer-subscribe__div {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footer-subscribe__wrp {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-subscribe__img {
    width: 20%;
}

.footer-subscribe__img-text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 24px 0 0 0;
}

.footer-subscribe__img-text__italic {
    font-style: italic;
}

.footer-subscribe__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-transform: uppercase;

}

.footer-subscribe__text {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 0 32px 0;

}

.footer-subscribe__input {
    min-height: 49px;
    background: #E1E1E1;
    border-radius: 25px 0 0 25px;
    padding: 0 0 0 22px;
    display: block;
    outline: 0px solid;
    background: #E1E1E1;
    box-sizing: border-box;
    border: none;
}

.footer-subscribe__input:hover,
.footer-subscribe__input:focus {
    outline: 1px solid red;
    background: white;
    cursor: pointer;
}

.footer-subscribe__button {
    border-radius: 0 25px 25px 0;
    min-height: 50px;
    background-color: var(--pink-text);
    border: none;
    color: #FFFFFF;
}

.footer-subscribe__button:hover,
.footer-subscribe__button:focus {
    opacity: 0.5;
    cursor: pointer;
    outline: none;
}

.footer-copyright {
    background-color: var(--black);
}

.footer-copyright__wrp {
    min-height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright__text {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer-copyright__list {
    display: flex;
    justify-content: space-around;
}

.footer-copyright__item {
    margin: 0 7px 0 0;
}

.footer-copyright__item-bg {
    fill: white;
}

.footer-copyright__item-img {
    fill: black;
}

.footer-copyright__item-bg:hover,
.footer-copyright__item-bg:focus {
    fill: var(--pink-text);
}

.footer-copyright__item-bg:hover .footer-copyright__item-img,
.footer-copyright__item-bg:focus .footer-copyright__item-img {
    fill: white;
}



/* Registration */

.registration-title {
    min-height: 148px;
    width: 100%;
    background: #F8F3F4;
    display: flex;
    align-items: center;
    margin: 0 0 64px 0;
}

.registration-title__title {
    font-size: 24px;
    line-height: 29px;
    color: var(--pink-text);
    text-transform: uppercase;
}

.registration {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;

}

.registration__page {
    display: flex;
    justify-content: space-between;
}

.registration__form {
    width: 32%;
}

.registration__form-legend {
    font-size: 16px;
    line-height: 19px;
    color: #222222;

}

.registration__form-label {}


.registration__form-input {
    margin: 20px 0 0 0;
    width: 90%;
    min-height: 45px;
    font-size: 13px;
    line-height: 16px;
    padding: 0 0 0 17px;
}

.registration__form-input:hover,
.registration__form-input:focus {
    outline: 1px solid red;
    background: white;
    cursor: pointer;
}


.registration__form-radio {
    display: flex;
    margin: 31px 0 33px 0;
    font-size: 11px;
    line-height: 13px;
    align-items: flex-end;
}

.registration__form-input-radio-label {
    margin: 0 20px 0 0;
}


.registration__form-text {
    margin: 16px 0 40px 0;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;

}



.registration__form-send {
    margin: 0 0 96px 0;
}

.registration__loyalty {
    width: 50%;
    font-size: 24px;
    line-height: 29px;

}

.registration__loyalty-title {

    text-transform: uppercase;
    margin: 0 0 22px 0;
    font-weight: 300;
}

.registration__loyalty-text {
    margin: 0 0 21px 0;
}

.registration__loyalty-list {

    list-style-image: url(../img/marker.svg);

}

.registration__loyalty-item {
    margin: 0 0 16px 0;
}