.product-description__button {
    display: flex;
    justify-content: space-around;
    margin: 65px 0 0 0;

}

.product-description__button-menu {
    width: 10px;
    position: relative;
    top: 34px;
    right: 7px;
    background: white;
    z-index: 5;
    display: none;
    padding: 2px 0 0 2px;
}

.product-description__button-block {
    border: none;
    background: none;
    margin: 0 0 0 23px;
    padding: 0 2px;
    text-transform: uppercase;
}

.product-description__button-block:hover+.product-description__button-menu,
.product-description__button-block:focus+.product-description__button-menu {
    display: block;
}

.product-description__button-block-arrow {
    display: inline-block;
    transform: rotate(90deg);
    font-size: 24px;
    padding: 0 0 10px 0;
}

.product-description__menu-list:hover,
.product-description__button-menu:hover {
    display: block;
}


// .product-description__cart-overlay {
//     position: relative;
// }

.product-description__button-cart {
    position: absolute;
    transform: translate(-50%, -50%);
    background: none;
    border: 2px solid $pink-text;
    width: 138px;
    min-height: 43px;
    justify-content: space-around;
    align-items: center;
    color: $pink-text;
    fill: $pink-text;
}


.product-description__button-cart:hover {
    background: $pink-text;
    color: $black;
    fill: $black;
}