.product-title {
    background-color: #F8F3F4;
}

.product-title__breadcrumb-item-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #636363;
    font-family: 'lato', 'arial', sans-serif;
    @include font(14px, 17px, 700);
}

.product-title__breadcrumb-item--page {
    font-family: 'lato', 'arial', sans-serif;
    color: $pink-text;
    text-transform: uppercase;
    @include font(14px, 17px, 700);
}