.sales__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sales__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sales__item--women {
    background-image: url(../img/sales_women.jpg);

}

.sales__item-text {
    @include font(16px, 19px);
    color: #FFFFFF;
    text-transform: uppercase;
}

.sales__item-title {
    @include font(24px, 29px, 700);
    color: $pink-text;
    text-transform: uppercase;
}

.sales__item--men {
    background-image: url(../img/sales_men.jpg);

}

.sales__item--kids {
    background-image: url(../img/sales_kids.jpg);
}

.sales__item--accesories {
    background-image: url(../img/sales_accesories.jpg);
    width: 100%;
    min-height: 180px;
    margin: 30px 0 96px 0;
}